*  { /*Previously body*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    color:#FFF; /* text color*/
    background:#333;
    text-align:center;
}
header > h1 {
    margin: 0px; /*removes space from the top of the header*/
    padding-top: 25px;
}
header > p {
    margin: 0px; 
    padding-bottom: 25px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    background:rgb(116, 116, 116);
}

nav > ul { /*List*/
    display: flex;
    justify-content: space-around;
    width: 35%;
}

nav > ul > li { /*Individual List Items*/
    list-style-type: none; /*removes bullets*/
}

li a {
    text-decoration: none; /*removes lines under each link*/
    color: white;
}
li a:hover {
    color:black;
}

.biography {
    background-color: thistle;
    text-align: left;
    float: right;
}
