*  { /*Previously body*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    color:#FFF; /* text color*/
    background:#333;
    text-align:center;
}
header > h1 {
    margin: 0px; /*removes space from the top of the header*/
    padding-top: 25px;
}
header > p {
    margin: 0px; 
    padding-bottom: 25px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background:rgb(116, 116, 116);
}
nav > ul {
    margin: 0px; /*removes space between header and navigation bar*/
    padding: 0px;
    list-style-type: none;
}
li {
    display: inline;
}
li a:hover {
    color: #333;
 }