/*Universal CSS*/
*  { /*Previously body*/
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #E9E3E6;
    height: 100%;
    width: 100%;
}

header {
    color:#FFF; /* text color*/
    background:#736F72;
    text-align:center;
    min-width: 600px;
}
header > h1 {
    margin: 0px; /*removes space from the top of the header*/
    padding-top: 25px;
    font-family: 'Crimson Text', serif;
    letter-spacing: 5px;
    font-weight: 100;
}
header > p {
    margin: 3px; /*removes space between nav bar and header*/
    padding-bottom: 25px;
    font-family: 'Crimson Text', serif;
    letter-spacing: 5px;
}

nav{
    background:#9A8F97;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    min-width: 600px;
}

nav > ul { /*List*/
    display: flex;
    justify-content: space-around;
    width: 600px;
    min-width: 500px;
}

nav > ul > li { /*Individual List Items*/
    list-style-type: none; /*removes bullets*/
    font-family: 'Crimson Text', serif;
}

li a {
    color: white;
    text-decoration: none; /*removes lines under each link*/
}
li a:hover {
    color:black;
}


/*Home Page CSS*/
/*To keep items within the browser display, make the width a percentage of the whole pages width rather than a set pixel amount*/
/*When selecting an element try to call the parent container first so you can reuse simple names on each page*/

.indexcontainer-1{
    display: flex;
}

.indexcontainer-1 > .box{
    background-color: #736F72;
    width: 400px;
    min-width: 50px;
    height: 800px;
    margin-right: 20%;
}

.indexcontainer-1 > .image{
    margin-left: -25%;
    margin-top: 7%;
}

.indexcontainer-1 > .biography{
    width: 1200px;
    min-width: 500px;
    height: 600px;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 5%;
    padding-bottom: 20%;
    
}

.biography > h2 {
    margin-bottom: 4%;
}
.biography > p {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 1.5%;
}

.biography > .btn {
    background-color:#736F72;
	border-radius:28px; /*changes shape of button*/
	border:1px solid #736F72;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-left: 40%;
    margin-top: 1%;
    margin-bottom: 4%;
	
}

.indexcontainer-2{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.indexcontainer-2 > .box2 {
    background-color: #5c5c5c;
    width: 1920px; /*sets width to 100% of the webpage*/
    min-width: 720px;
    height: 350px; /*height must be set in pixels... there are complicated ways to scale to percentages*/
}

.box2-text{
    color: white;

}

.box2-text > p {
    text-align: center;
    margin-top: 6%;
    margin-left: 4%;
    margin-right: 4%;
    min-width: 400px;
}

.indexcontainer-3 {
    display: flex;
    padding-bottom: 5%;
}

.information {
    width: 650px;
    min-width: 550px;
    height: 200px;
    margin-left: 8%;
    margin-top: 5%;
    
}

.information > p {
    
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 1.5%;
}

.indexcontainer-3 > .image2{
    margin-left: 20%;
    margin-top: 4%;
    
}


/*Books Page CSS*/

.bookcontainer-1 {
    display: flex;
}

.bookimage-1 {
    margin-top: 3%;
    margin-left: 10%;
}

.booksummary-1 {
    margin-top: 5%;
    margin-left: 10%;
    width: 40%;
}

.booksummary-1 > h2 {
    margin-left: 20%;
    margin-bottom: 2%;
}

.booksummary-1 > p {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 1.5%;
}

.booksummary-1 > .btn {
    background-color:#736F72;
	border-radius:28px; /*changes shape of button*/
	border:1px solid #736F72;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-left: 40%;
    margin-top: 1%;
    margin-bottom: 4%;
	
}
.bookcontainer-2 {
    display: flex;
}

.bookimage-2 {
    margin-left: 4%;
    margin-right: 5%;
    margin-top: 3%;
}

.booksummary-2 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 8%;
    width: 40%;
}

.booksummary-2 > h2 {
    margin-left: 5%;
    margin-bottom: 2%;
    text-align: center;
}

.booksummary-2 > p {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 1.5%;
}

.booksummary-2 > .btn {
    background-color:#736F72;
	border-radius:28px; /*changes shape of button*/
	border:1px solid #736F72;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-left: 40%;
    margin-top: 1%;
    margin-bottom: 4%;
	
}

hr {
  border:none;
  border-top:1px solid;/* or bottom */
  margin:1em auto; 
  width:80%;
  margin-top: 2%;
}

/*Individual Book Page: Everything You Know About Indians Is Wrong*/

.everythingcontainer-1 {
    display: flex;
}
.everythingcontainer-1 > .box-1 {
    background-color: #736F72;
    width: 25%;
    height: 600px;
}


.everythingcontainer-1 > .everythingimage-1 {
    margin-top: 7%;
    margin-left: -25%;
}

.everythingcontainer-1 > .bookquote-1 {
    width: 40%;
    margin-top: 8%;
    margin-left: 5%;
}

.everythingcontainer-1 > .bookquote-1 > h2 {
    margin-bottom: 3%;
    margin-left: 10%;
}

.everythingcontainer-1 > .bookquote-1 > p{
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 1.5%;
    text-align: center;
}

.everythingcontainer-1 > .bookquote-1 > .btn {
    margin-left: 44%;
}

.everythingcontainer-2 > .box-2 {
    background-color: #5c5c5c;
    width: 100%; /*sets width to 100% of the webpage*/
    height: 500px; /*height must be set in pixels... there are complicated ways to scale to percentages*/
}

.everything-overview {
    width: 40%;
    margin-left: 30%;
    padding-top: 1%;
    text-align: center;
}

.everything-overview > h3 {
    color: #E9E3E6;
    margin-bottom: 2%;
    
}

.everything-overview > p {
    color: #E9E3E6;
    
}

.everything-overview > hr{
    border: 0;
    margin-top: 2%;
    height: 1px;
    background: #E9E3E6;
    
}

.everything-excerpt {
    width: 40%;
    margin-left: 30%;
    padding-top: 1%;
    text-align: center;
}

.everything-excerpt > h3 {
    color: #E9E3E6;
    margin-bottom: 2%;
    
}

.everything-excerpt > p {
    color: #E9E3E6;
    
}

.everything-excerpt > hr{
    border: 0;
    margin-top: 2%;
    height: 1px;
    background: #E9E3E6;
    
}

.everythingcontainer-3 {
    width: 100%;
    height: 800px;
    display: flex;
}

.everythingcontainer-3 > .everythingimage-2 {
    margin-left: 40%;
    margin-top: 5%;
}

/*Texts Page CSS*/

.textscontainer-1 > h2 {
    margin-left: 44%;
    margin-top: 1%;
}

.textscontainer-1 > p {
    text-align: center;
    margin-top: 1%;
}






/*Featured Read Page CSS*/

.readcontainer-1 {
    display: flex;
}

.readcontainer-1 > .box-1 {
    background-color: #736F72;
    width: 10%;
    height: 900px; /*see if you can make it 100% of page to avoid changing pixels for each text page*/
}

.readcontainer-1 > .box-2 {
    background-color: #736F72;
    width: 10%;
    height: 900px;
}

.featuredread {
    width: 60%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.featuredread > h2 {
    margin-bottom: 1%;
}

.featuredread > p {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 1.5%;
}

/*Exhibitions Page CSS*/

.image1 {
    position: relative;
    
}

.image__img {
    display: block;
    margin-left: 1.5%;
    margin-right: 1%;
    margin-top: 1%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #262727;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}


.image2 {
    position: relative;
    width: 400px;
}

.image2 > .image__img {
    display: block;
    width: 100%;
}

.image2 > .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image2 > .image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image2 > .image__overlay--primary {
    background: #262727;
}

.image2 > .image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image2 > .image__overlay:hover {
    opacity: 1;
}

.image2 > .image__overlay:hover > * {
    transform: translateY(0);
}

.image2 > .image__title {
    font-size: 2em;
    font-weight: bold;
}

.image2 > .image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}